.page {
    min-width: 288px;
    margin: 16px 16px 24px 16px;
}

@media screen and (min-width: 768px) {
    .page {
        margin: 28px 24px 24px;
    }
}

@media screen and (min-width: 1024px) {
    .page {
        margin: 28px 48px 24px;
    }
}

@media screen and (min-width: 1280px) {
    .page {
        max-width: 1184px;
        margin: 28px auto 24px auto;
    }
}