.cover__subtitle {
    color:  white;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        min-width: 360px;
        font-size: 18px;
        line-height: 22px;
    }
}