.place__text {
    grid-area: text;
    padding-top: 32px;
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
}

@media screen and (min-width: 768px) {
    .place__text {
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__text {
        gap: 26px;
    }
}