.lead__title {
    margin: 0 auto;
    max-width: 330px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    padding-top: 48px;
}
@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
        max-width: 690px;
    }
}