.cover {
    position: relative;
    display: block;
    margin-left: -16px;
    width: calc(100% + 32px);
}

@media screen and (min-width: 768px) {
    .cover {
        margin-left: -24px;
        width: calc(100% + 48px);
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        margin-left: -48px;
        width: calc(100% + 96px);
    }
}

@media screen and (min-width: 1184px) {
    .cover {
        margin: 0 auto;
        max-width: 1184px;
    }
}