.place__link {
    color: white;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    text-align: start;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: opacity 0.3s ease-out;
}

.place__link:hover {
   opacity: .8;
}