.lead__caption {
    color: white;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    text-align: start;
    width: 100%;
}

