.intro__title {
    color: white;
    margin: 0;
    padding-top: 64px;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: start;
    max-width: 246px;
}

@media screen and (min-width: 768px) {
    .intro__title {
        padding-top: 88px;
        font-size: 54px;
        line-height: 58px;
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .intro__title {
        padding-top: 92px;
        max-width: 690px;
    }
}